<main class="flex-shrink-0">
  
  <!-- Header-->
  <header class="bg-cold-bubble">
      <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                      <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                  </ul>
                  <a class="btn btn-grad login btn-md px-4 me-sm-3" href="">Login</a>
              </div>
          </div>
      </nav>
      <div class="bg-cold-bubble-r">
        <a class="navbar-brand logo-cold-txt anone" href="index.html">Chilled Grapes</a>
      </div> 
      <div class="bg-cold-bubble-l"></div> 
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-8 col-xl-7 col-xxl-6 head-cold-txt z-index1">
                  <div class="my-5 text-center text-xl-start">
                      <h1 class="display-5 fw-bolder mb-2 text-uppercase">Lorem ipsum </h1>
                      <h1 class="display-5 fw-bolder mb-2 text-uppercase">dolor sit amet.</h1>
        
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                          <a class="btn btn-grad btn-md px-4 me-sm-3" href="">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
 
  <section class="">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/blob-plant.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Lorem ipsum dolor sit amet.</h2>
                <p class="lead fw-normal text-muted mb-0 mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                  <a class="btn btn-grad btn-md px-4 me-sm-3 mt-5" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <section class="">
      <div class="container px-5 my-5">
          <div class="row gx-5">
              <div class="col-lg-4 mb-5" *ngFor="let product of data.products[0]">
                  <div class="card h-100 shadow border-0 border-radius-card">
                      <img class="card-img-top border-radius-card" [src]="product.image" alt="..." />
                      <div class="card-body p-4">          
                          <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3"> {{ product.product_name }}</h5></a>
                          <p class="card-text mb-0 currency-txt"> £{{ product.price }}</p>
                          <div class="badge bg-primary bg-gradient rounded-pill mt-2"> In Stock: {{ product.stock_count }}</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
<!-- Footer-->
<footer class="mt-auto">
    <div class="container-fluid mx-auto">
        <div class="row" style="min-height: 360px;">
            <div class="col-lg-5 col-md-3 p-0">
                <div class="footer-bubble-bg">
                    <div class="p-2 flex-fill d-flex logo">Chilled Grape</div>
                    <div class="p-2 flex-fill d-flex logo-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-md-3">
                <div class="p-2 flex-fill d-flex footer-section-bar">Company</div>
                <div class="p-2 flex-fill d-flex"><a href="">About</a></div>
                <div class="p-2 flex-fill d-flex"><a href="">Careers</a></div>
                <div class="p-2 flex-fill d-flex"><a href="">Our Work</a></div>
                <div class="p-2 flex-fill d-flex"><a href="">Contact</a></div>
            </div>
            <div class="col-lg-2 col-sm-3 col-md-3">
                <div class="p-2 flex-fill d-flex footer-section-bar">Products</div>
                <div class="p-2 flex-fill d-flex"><a href="">About</a></div>
                <div class="p-2 flex-fill d-flex"><a href="">Careers</a></div>
                <div class="p-2 flex-fill d-flex"><a href="">Our Work</a></div>
                <div class="p-2 flex-fill d-flex"><a href="">Contact</a></div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="p-2 flex-fill d-flex footer-section-bar">Follow us</div>
                <div class="row">
                    <div class="footer-follow-icons">
                        <a href="" class="telegram"></a>
                    </div>
                    <div class="footer-follow-icons">
                        <a href="" class="twitter"></a>
                    </div>
                    <div class="footer-follow-icons">
                        <a href="" class="youtube"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-follow-icons">
                        <a href="" class="facebook-one"></a>
                    </div>
                    <div class="footer-follow-icons">
                        <a href="" class="instagram"></a>
                    </div>
                    <div class="footer-follow-icons">
                        <a href="" class="tiktok"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>