<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
 </div>

 <div>test</div>
 <div *ngFor="let product of data" style="text-align:center">
   <div> 
    {{ product.id | json }}
    {{ product.product_name | json }}
  </div>
  <img width="200" alt="thumbnail" [src]="product.image">
   
</div>



<main class="flex-shrink-0">
  
  <!-- Header-->
  <header class="bg-cold-bubble py-5">
      <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container px-5">
              <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                      <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                  </ul>
                  <a class="btn btn-grad login btn-md px-4 me-sm-3" href="">Login</a>
              </div>
          </div>
      </nav>
      <div class="bg-cold-bubble-r">
        <a class="navbar-brand logo-cold-txt" href="index.html">Chilled Grapes</a>
      </div> 
      <div class="bg-cold-bubble-l"></div> 
      <div class="container px-5 head-cold-txt">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-8 col-xl-7 col-xxl-6 z-index1">
                  <div class="my-5 text-center text-xl-start">
                      <h1 class="display-5 fw-bolder mb-2 text-uppercase">Lorem ipsum </h1>
                      <h1 class="display-5 fw-bolder mb-2 text-uppercase">dolor sit amet.</h1>
        
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                          <a class="btn btn-grad btn-md px-4 me-sm-3" href="">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
 
  <section class="">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/blob-plant.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Lorem ipsum dolor sit amet.</h2>
                <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                  <a class="btn btn-grad btn-md px-4 me-sm-3" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Blog preview section-->
  <section class="py-5">
      <div class="container px-5 my-5">
          <div class="row gx-5">
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0 border-radius-card">
                      <img class="card-img-top border-radius-card" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                      <div class="card-body p-4">
                          <div class="badge bg-primary bg-gradient rounded-pill mb-2">NEW</div>
                          <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3">consectetur Elit</h5></a>
                          <p class="card-text mb-0 currency-txt">£12.99</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">NEW</div>
                        <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3">consectetur Elit</h5></a>
                        <p class="card-text mb-0 currency-txt">£12.99</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                  <div class="card-body p-4">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">NEW</div>
                      <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3">consectetur Elit</h5></a>
                      <p class="card-text mb-0 currency-txt">£12.99</p>
                  </div>
              </div>
            </div>  
          </div>

          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3">consectetur Elit</h5></a>
                        <p class="card-text mb-0 currency-txt">£12.99</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                  <div class="card-body p-4">
                      <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3">consectetur Elit</h5></a>
                      <p class="card-text mb-0 currency-txt">£12.99</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                <div class="card-body p-4">
                    <a class="text-decoration-none link-dark stretched-link text-uppercase" href="#!"><h5 class="card-title mb-3">consectetur Elit</h5></a>
                    <p class="card-text mb-0 currency-txt">£12.99</p>
                </div>
            </div>
          </div>
        </div>
          <!-- Call to action-->
          <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
              <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                  <div class="mb-4 mb-xl-0">
                      <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                      <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                  </div>
                  <div class="ms-xl-4">
                      <div class="input-group mb-2">
                          <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                          <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                      </div>
                      <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                  </div>
              </div>
          </aside>
      </div>
  </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
          <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
          <div class="col-auto">
              <a class="link-light small" href="#!">Privacy</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" href="#!">Terms</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" href="#!">Contact</a>
          </div>
      </div>
  </div>
</footer>